
body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#notifications {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: chartreuse;
  font-size: 45rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}